BasedOnStyle: LLVM
ColumnLimit: 92
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
