
# Dependency files
*.d
d
d/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
o
o/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vis

# Non-distributable assets
scripts/makedep.awk
media/programs
media/raw
media/copyrighted
docs/lua-5.2.3*
output/*
